ul, ol {
    background: #fcfcfc;/*背景色*/
    padding: 0.5em 0.5em 0.5em 2em;/*ボックス内の余白*/
    border: solid 3px gray;/*線の種類 太さ 色*/
  }

  ul li, ol li {
    line-height: 1.5; /*文の行高*/
    padding: 0.5em 0; /*前後の文との余白*/
  }

li{
  list-style: none;
}

.profile{
  float: left;
  background: #fcfcfc;/*背景色*/
  padding: 0.5em 0.5em 0.5em 2em;/*ボックス内の余白*/
  border: solid 3px gray;/*線の種類 太さ 色*/
}

.profilePic{
  float: left;
}

.profileData{
  margin-left: 200px;
  margin-bottom: 120px;
}

.works{
  text-align: left;
  margin-top: 50px;
}

.work{
  margin-left: 50px;
  padding: 2em 2em 4em 2em;/*ボックス内の余白 上，右，下，左の順*/
  background-color:#d1cdcd;
}

span{
  display: flex;
}